body {
  width: 320px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: @baseFontFamily;
  font-style: normal;
  font-stretch: normal;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  body {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: @desktop-width;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
