.article {
  box-sizing: border-box;
  width: 236px;
  height: 113px;
  text-align: center;
  margin-top: 63px;
  margin-left: 43px;
}

.article__title {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

.article__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .article {
    width: 415px;
    height: 98;
    margin: auto;
    margin-top: 68px;
  }

  .article__title {
    font-size: 30px;
  }
}
