.attractions {
  background-color: @grey;
  width: 320px;
}

.attractions__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.attractions__item--element::before {
  content: "";
  display: block;
  height: 1px;
  background: #333333;
  width: 280px;
  position: relative;
  left: 20px;
  opacity: 0.2;
}

.attractions__item--element::after {
  content: "";
  display: block;
  height: 1px;
  background: #333333;
  width: 280px;
  position: relative;
  left: 20px;
  opacity: 0.2;
}

.attractions__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 27px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 7px;
}

.attractions__number {
  padding-left: 140px;
  font-size: 14px;
}

.attractions__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 27px;
  margin-top: 18px;
  padding-left: 32px;
  padding-right: 31px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .attractions {
    width: @tablet-width;
  }

  .attractions__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: @tablet-width;
  }

  .attractions__item {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
  }

  .attractions__title {
    text-align: center;
    padding: 45px 60px 11px;
    font-size: 21px;
  }

  .attractions__number {
    padding-left: 110px;
  }

  .attractions__text {
    margin-top: 23px;
    padding: 0 49px;
  }

  .attractions__text--addition {
    padding: 0 55px;
  }

  .attractions__item--element::after {
    display: none;
  }

  .attractions__item--element::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .attractions {
    width: @desktop-width;
  }

  .attractions__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: @desktop-width;
  }

  .attractions__item {
    width: 400px;
    height: 256px;
    box-sizing: border-box;
  }

  .attractions__title {
    padding-left: 131px;
    padding-right: 132px;
    padding-bottom: 10px;
  }

  .attractions__number {
    padding-left: 179px;
  }

  .attractions__text {
    padding-left: 58px;
    padding-right: 59px;
    margin-top: 23px;
  }

  .attractions__text--addition {
    padding-left: 62px;
    padding-right: 63px;
  }
}
