.copyright__text {
  font-size: 14px;
  line-height: 21px;
}

.copyright__link {
  text-decoration: none;
  margin-left: 14px;

  img {
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright__link {
    text-decoration: none;
  }
}
