.feature {
  background-color: @light-grey-blue;
  width: 320px;
  padding: 0 27px 0 28px;
}

.feature__title {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  line-height: 26px;
  font-weight: bold;
  padding-top: 63px;
}

.feature__number {
  color: #ffffff;
  text-align: center;
  padding-left: 130px;
  font-size: 14px;
}

.feature__text {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 45px;
}
