.feature {
  position: relative;
}

.feature-img__intro-triangle {
  position: absolute;
  background-image: url(../../img/white-copy-2.png);
  width: 320px;
  top: -7px;
  z-index: 3;
  height: 57px;
  background-repeat: no-repeat;
}

.feature__wrapper {
  background-color: @light-grey-blue;
  width: 320px;
  padding: 0;
  box-sizing: border-box;
  height: 235px;
  display: block;
}

.feature__wrapper--new-wrapper {
  height: 191px;
}

.feature__title {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  line-height: 26px;
  font-weight: bold;
  padding-top: 82px;
  padding-bottom: 7px;
  margin: 0;
}

.feature__title--new-title {
  padding-top: 38px;
}

.feature__number {
  color: #ffffff;
  text-align: center;
  padding-left: 140px;
  font-size: 14px;
}

.feature__text {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 18px 19px 0 19px;
  letter-spacing: 0;
}

.feature-banner__photo-city {
  background-image: url(../../img/photo-city-1-x.png);
  background-repeat: no-repeat;
  position: relative;
  width: 520px;
  right: 100px;
}

.feature-banner__photo-bridge {
  background-image: url(../../img/photo-bridge-1-x.png);
  background-repeat: no-repeat;
  position: relative;
  width: 520px;
  right: 101px;
  display: block;
}

@media (min-width: @tablet-width) {
  .feature {
    display: flex;

    img {
      width: 512px;
      height: 256px;
    }
  }

  .feature__wrapper {
    width: 256px;
    height: 256px;
    padding-left: 37px;
    padding-right: 38px;
    padding-top: 30px;
  }

  .feature__title {
    padding-top: 0;
  }

  .feature__number {
    padding-left: 70px;
  }
}

@media (min-width: @desktop-width) {
  .feature {
    width: 100%;
    height: auto;

    img {
      width: 800px;
      height: 256px;
    }

    .feature__wrapper {
      width: 400px;
      height: 256px;
      padding-left: 70px;
      padding-right: 70px;
    }

    .feature__title {
      padding: 0 37px 0 38px;
    }

    .feature__number {
      padding-left: 110px;
    }
  }
}
