.gallery__article {
  width: 320px;
  margin-top: 44px;
}

.gallery__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.gallery__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 56px;
}

.gallery__name {
  font-size: 14px;
  line-height: 24px;
}

.gallery__author-name {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: @black-lighter;
}

.gallery__like {
  text-decoration: none;
  color: @black;
}
