.gallery__content {
  margin-bottom: 18px;
  &::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #333333;
    display: block;
    opacity: 0.2;
  }
}

.picture-mobile {
  margin: 0 0 22px 20px;
}

.gallery__picture--big {
  margin: 24px 0 11px 20px;
}

.gallery__picture {
  margin: 22px 0 22px 20px;
}

.gallery__author {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.gallery__article {
  width: 270px;
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.gallery__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 0.5;
  margin-top: 27px;
}

.gallery__name {
  font-size: 14px;
  line-height: 24px;
}

.gallery__author-name {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: @black-lighter;
}

.gallery__like {
  text-decoration: none;
  color: #000000;

  img {
    margin-top: 5px;
  }
}

.gallery__number {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 11px;
}

.gallery__picture--cactus {
  margin-bottom: 12px;
}

.gallery__picture--roads {
  margin-bottom: 12px;
}

.gallery__picture--bridge {
  margin-bottom: 12px;
}

.gallery-wrapper-like {
  margin-left: 20px;
  padding-top: 5px;
}

.gallery__fronpage {
  img {
    margin-left: 20px;
    margin-top: 19px;
    margin-bottom: 13px;
  }
}

.gallery__content--small {
  &::after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #333333;
    display: block;
    opacity: 0.2;
  }
}

.gallery__number--like {
  margin-left: 14px;
}

.gallery-wrapper-like--block-three {
  margin-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .gallery__article {
    margin-top: 75px;
    width: 428px;
    height: 97px;
    text-align: center;
    margin-bottom: 75px;
  }

  .gallery__title {
    font-size: 30px;
    line-height: 26px;
  }

  .gallery__text {
    margin-top: 30px;
    line-height: 24px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
  }

  .gallery__content {
    margin-bottom: 0;
  }

  .gallery__content {

    &::before {
      display: none;
    }
  }

  .gallery__picture--big {
    width: 648px;
    height: 400px;
    display: block;
    margin: 0;
  }

  .gallery__wrapper-author {
    width: 648px;
    background-color: #f2f2f2;
    padding-left: 20px;
    box-sizing: border-box;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    height: 80px;
  }

  .gallery-wrapper-like {
    padding-right: 21px;
    padding-top: 11px;
  }

  .gallery__author {
    margin: 0;
  }

  .gallery__picture {
    margin: 0;
  }

  .gallery__like {
    margin-top: 11px;
  }

  .gallery__number {
    margin-left: 5px;
  }

  .gallery__fronpage {
    img {
      width: 324px;
      height: 267px;
      display: block;
      margin: 0;
    }
  }

  .gallery__wrapper-author--block {
    width: 324px;
  }

  .gallery-wrapper-like--block {
    margin-left: 0px;
    padding-right: 30px;
    padding-top: 11px;
  }

  .gallery-wrapper-like--block-two {
    padding-right: 36px;
  }

  .gallery-wrapper-like--block-three {
    padding-right: 31px;
    padding-top: 11px;
  }

  .gallery__number--like {
    margin-left: 9px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    margin-left: 0;
  }

  .gallery__content {
    position: relative;
  }

  .gallery__article {
    margin-top: 111px;
    margin-bottom: 78px;
  }

  .gallery__content--banner {
    width: 1200px;

    .gallery__picture--big {
      width: 1200px;
    }
  }

  .gallery__wrapper-author--backg {
    width: 1200px;
    position: absolute;
    top: 320px;
    background: rgba(1, 1, 1, 0.5);
    z-index: 3;
  }

  .gallery__name {
    color: #ffffff;
  }

  .gallery__author-name {
    color: #ffffff;
  }

  .gallery__number {
    color: #ffffff;
    margin-left: 9px;
  }

  .gallery-wrapper-like {
    padding-top: 10px;
  }

  .gallery__fronpage {

    img {
      width: 400px;
    }
  }

  .gallery__wrapper-author--block {
    width: 400px;
    position: absolute;
    background: rgba(1, 1, 1, 0.5);
    z-index: 3;
    top: 187px;
  }

  .gallery__like  svg {
    fill: #ffffff;
  }
}
