.map-banner {
  margin-bottom: 30px;

  iframe {
    border: 0;
  }
}

@media (min-width: @tablet-width) {
  .map-banner {

    iframe {
      width: 768px;
    }
  }
}

@media (min-width: @desktop-width) {
  .map-banner {
    margin-bottom: 30px;

    iframe {
      width: 1200px;
    }
  }
}
