.offer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin-top: 28px;
}

.offer__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.offer__text {
  font-size: 14px;
  line-height: 24px;
  color: @black-lighter;
  text-align: center;
  margin: 0;
  padding: 2px 15px 36px 15px;
}

.offer__toggle {
  width: 280px;
  height: 58px;
  background-color: @light-grey-blue;
  text-transform: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: inherit;
  border: 0;
  margin: 0 0 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.offer__toggle:hover {
  background-color: #669ec0;
}

.offer__toggle:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    height: 98px;
    margin: 0 auto;
    width: 434px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 57px;
    margin-bottom: 47px;
  }

  .offer__title {
    font-size: 30px;
    padding: 0 18px 6px;
  }

  .offer__text {
    padding: 0;
  }

  .offer__toggle {
    width: 458px;
    margin-left: 155px;
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .offer__toggle {
    width: 458px;
    margin-left: 371px;
    background-color: @light-grey-blue;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 5px 0 0;
    margin-bottom: 65px;
  }

  .offer__wrapper {
    margin-bottom: 52px;
  }
}
