.offer {
  width: 320px;
}

.offer__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.offer__text {
  font-size: 320px;
  line-height: 24px;
  color: @black-lighter;
  text-align: center;
}
