.page-footer {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.page-footer__wrapper {
  margin: auto;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: baseline;
    justify-content: space-around;
  }

  .page-footer__wrapper {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
    justify-content: space-between;
  }

  .page-footer__wrapper {
    margin-left: 120px;
  }
}
