.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
}

.page-header__logo {
  order: 2;
  margin: 0 auto;
  position: relative;
  left: 0;
  z-index: 3;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-width: @tablet-width;
  }

  .page-header__logo {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__logo-image {
    width: 102px;
    height: 83px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: @desktop-width;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
