.reason {
  width: 320px;
  margin: 0;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 12px;
  text-align: center;
  padding-left: 32px;
  padding-right: 33px;
}

.reason__description {
  font-size: 14px;
  font-weight: normal;
  color: @black-lighter;
  text-align: center;
  line-height: 26px;
  margin-top: 27px;
  margin-bottom: 0;
  letter-spacing: 0.1px;
  padding-left: 17px;
  padding-right: 14px;
}

@media (min-width: @tablet-width) {
  .reason {
    width: 490px;
    margin: auto;
    margin-bottom: 55px;
  }

  .reason__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
}
