.recommendation-services__list {
  list-style: none;
}

.recommendation-services__item {
  width: 210px;
}

.recommendation-services__title {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.recommendation-services__text {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 38px;
  color: @black-lighter;
}
