.search-form__desc {
  margin-left: 20px;
  position: relative;
}

.search-form__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.search-form__desc-wrapper {
  margin: 0;
}

.search-form__field-name {
  font-size: 14px;
  cursor: pointer;
}

.search-form__field-name--first {
  margin-left: 14px;
  margin-bottom: 14px;
}

.search-form__desc--block-fourth {
  display: flex;
  width: 100%;
}

.search-form__desc--wrapper-fourth {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}

.search-form__memo {
  display: none;
}

.search-form__field-input {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
  letter-spacing: -1px;
  font-family: inherit;
  outline: none;
}

.search-form__field-input:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}

.search-form__field-input:active,
.search-form__field-input:focus {
  background-color: #ffffff;
  border: 4px solid #f2f2f2;
  outline: none;
}

.search-form__radio:focus + .search-form__inner::before,
.search-form__input:focus + .search-form__checkbox-switching {
  outline: 1px solid;
}

.search-form__title-desc {
  padding-right: 23px;
  margin-bottom: 24px;
}

.search-form__field-input-name {
  width: 230px;
  height: 58px;
  box-sizing: border-box;
  padding-left: 21px;
  margin-left: 9px;
  background-color: #f2f2f2;
  margin-bottom: 19px;
  border: 4px solid #f2f2f2;
}

.search-form__field-input-surname {
  width: 192px;
  height: 58px;
  margin-left: 9px;
  box-sizing: border-box;
  padding-left: 18px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.search-form__field-input-patronymic {
  width: 194px;
  height: 58px;
  margin-left: 12px;
  box-sizing: border-box;
  padding-left: 20px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
  margin-bottom: 27px;
}

.search-form__title-second {
  margin-right: 21px;
  margin-bottom: 24px;
}

.search-form__user-editor {
  margin-top: 11px;
  padding-left: 18px;
  width: 280px;
  height: 58px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  margin-bottom: 14px;
}

.search-form__field-name--facts {
  position: relative;
  padding-left: 22px;
}

.search-form__wrapper-icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  position: absolute;
  left: 222px;
  top: 29px;

  img {
    padding-top: 21px;
    padding-left: 21px;
  }
}

.search-form__desc-block-first::before {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: -20px;
  left: -20px;
}

.search-form__desc-block-first::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  left: -20px;
  top: 285px;
}

.search-form__desc--block-second::after {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  left: -20px;
  bottom: -15px;
}

.search-form__title-third {
  margin-top: 34px;
  padding-right: 22px;
  margin-bottom: 28px;
}

.search-form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  font-family: inherit;
}

.search-form__inner {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
  position: relative;
  padding-left: 78px;
  padding-top: 12px;
  cursor: pointer;
  text-transform: none;
}

.search-form__inner::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  margin-left: 3px;
}

.search-form__inner:hover::before {
  content: "";
  background-color: #e5e5e5;
}

.search-form__inner:active::before {
  content: "";
  background-color: #d5d5d5;
}

.search-form__radio:checked + .search-form__inner::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #333333;
  position: absolute;
  border-radius: 50%;
  left: 18px;
  top: 15px;
}

.search-form__radio:checked + .search-form__inner:active::after {
  content: "";
  opacity: 0.3;
}

.search-form__inner--negatively {
  top: 3px;
}

.search-form__inner--no-answer {
  top: 8px;
}

.search-form__checkbox {
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  display: block;
  position: relative;
  margin-left: 79px;
  margin-top: 17px;
  margin-bottom: 40px;
  cursor: pointer;
}

.search-form__title-fourth {
  margin-top: 44px;
  padding-right: 43px;
}

.search-form__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  font-family: inherit;
}

.search-form__checkbox-switching {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  border-radius: 6px;
  left: -77px;
  top: -11px;
}

.search-form__input:checked + .search-form__checkbox-switching {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  left: -77px;
  top: -11px;
}

.search-form__input:hover + .search-form__checkbox-switching {
  background-color: #e5e5e5;
}

.search-form__input:active + .search-form__checkbox-switching {
  background-color: #d5d5d5;
}

.search-form__desc--wrapper-fourth::before {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 23px;
  left: -20px;
}

.search-form__title-fifth {
  margin-top: 24px;
  padding-right: 17px;
}

.search-form__textarea {
  width: 279px;
  height: 160px;
  margin-bottom: 48px;
  box-sizing: border-box;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  background-color: #e6e6e6;
  line-height: 26px;
  padding: 17px 20px 0;
  resize: none;
}

.search-form__btn {
  width: 280px;
  background-color: @light-grey-blue;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  height: 58px;
  margin-bottom: 73px;
  border: 0;
  font-family: inherit;
}

@media (min-width: @tablet-width) {
  .search-form__desc-block-first::after {
    display: none;
  }

  .search-form__title-third {
    text-align: left;
    font-size: 21px;
    margin-top: 31px;
    margin-bottom: 62px;
  }

  .search-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }

  .search-form__desc--block-third {
    width: 50%;
    order: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
  }

  .search-form__desc-block-first {
    width: 50%;
    order: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;

    &::before {
      content: "";
      display: block;
      width: 1px;
      height: 292px;
      background-color: #e6e6e6;
      position: absolute;
      top: 35px;
      left: 0;
    }
  }

  .search-form__field-input {
    box-sizing: border-box;
  }

  .search-form__field-name {
    padding-left: 58px;
  }

  .search-form__field-input-name {
    padding-left: 22px;
    width: 216px;
  }

  .search-form__title-desc {
    font-size: 21px;
    padding-left: 57px;
    padding-right: 0;
    margin-top: 31px;
    margin-bottom: 58px;
    text-align: left;
  }

  .search-form__field-name--first {
    margin-bottom: 16px;
  }

  .search-form__inner {
    font-weight: bold;
    padding-left: 76px;
    margin-bottom: 38px;
  }

  .search-form__field-input-surname {
    width: 179px;
  }

  .search-form__field-input-patronymic {
    width: 181px;
  }

  .search-form__desc--block-second {
    order: 3;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .search-form__title-second {
    font-size: 21px;
    margin-top: 42px;
    padding-left: 19px;
    margin-bottom: 26px;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #e6e6e6;
      top: 55px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #e6e6e6;
      top: 55px;
      left: 520px;
    }
  }

  .search-form__field-name--facts {
    margin-left: 0;
    padding-left: 22px;
  }

  .search-form__field-name-hidden {
    padding-left: 0;
  }

  .search-form__wrapper-icon {
    left: 591px;
    top: 30px;
  }

  .search-form__user-editor {
    margin-top: 12px;
    width: 591px;
    padding-left: 19px;
    margin-bottom: 24px;
  }

  .search-form__desc--block-second::after {
    display: none;
  }

  .search-form__desc--wrapper-fourth::before {
    display: none;
  }

  .search-form__desc--block-fourth {
    order: 4;
    display: flex;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .search-form__desc--wrapper-fourth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .search-form__title-fourth {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 27px;
    font-size: 21px;
    font-weight: bold;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #e6e6e6;
      top: 53px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #e6e6e6;
      top: 53px;
      left: 520px;
    }
  }

  .search-form__checkbox--viseted-place {
    width: 135px;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 47px;
    margin-left: 175px;
  }

  .search-form__checkbox--viseted-place:nth-child(3) {
    margin-left: 125px;
  }

  .search-form__checkbox--viseted-place:nth-child(5) {
    margin-left: 125px;
  }

  .search-form__checkbox--margin {
    margin-left: 124px;
  }

  .search-form__desc--block-fifth {
    order: 5;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .search-form__title-fifth {
    margin-top: 38px;
    margin-bottom: 56px;
    width: 100%;
    font-size: 21px;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #e6e6e6;
      top: 51px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: #e6e6e6;
      top: 51px;
      right: 0;
    }
  }

  .search-form__textarea {
    margin-bottom: 58px;
    width: 100%;
  }

  .search-form__btn {
    width: 324px;
    padding-left: 0;
    padding-right: 12px;
    margin-bottom: 97px;
  }

  .search-form__wrapper-for-btn {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .search-form__memo {
    display: block;
    font-size: 14px;
  }
}

@media (min-width: @desktop-width) {
  .search-form {
    margin-left: 120px;
    margin-right: 120px;
  }

  .search-form__desc--block-third {
    padding-left: 5px;
  }

  .search-form__title-third {
    font-size: 21px;
    margin-top: 14px;
    padding-left: 75px;
  }

  .search-form__title-desc {
    font-size: 21px;
    margin-top: 15px;
    padding-left: 8px;
  }

  .search-form__desc-block-first {
    padding-left: 70px;

    &::before {
      content: "";
      top: 20px;
    }
  }

  .search-form__field-name {
    padding-left: 9px;
  }

  .search-form__field-input-name {
    width: 351px;
  }

  .search-form__field-input-surname {
    width: 314px;
  }

  .search-form__field-input-patronymic {
    width: 315px;
  }

  .search-form__desc--block-second {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }

  .search-form__desc-wrapper {
    margin: 0;
  }

  .search-form__title-second {
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 61px;

    &::before {
      content: "";
      width: 275px;
      top: 53px;
    }

    &::after {
      content: "";
      width: 275px;
      top: 53px;
      left: 683px;
    }
  }

  .search-form__field-name--facts {
    padding: 0;
    width: 30%;
    margin-left: 0;
  }

  .search-form__field-name-hidden {
    display: none;
  }

  .search-form__field-name--email {
    margin-left: 132px;
  }

  .search-form__user-editor {
    width: 263px;
    margin-left: 11px;
  }

  .search-form__wrapper-icon {
    top: -22px;
    left: 342px;
  }

  .search-form__wrapper-icon--img {
    left: 420px;
  }

  .search-form__desc--block-fourth {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
  }

  .search-form__desc--wrapper-fourth {
    display: flex;
    flex-wrap: no-wrap;
  }

  .search-form__title-fourth {
    margin-bottom: 57px;
    font-size: 21px;
    padding-left: 273px;
    padding-right: 272px;

    &::before {
      content: "";
      width: 275px;
      top: 53px;
    }

    &::after {
      content: "";
      width: 275px;
      top: 53px;
      left: 683px;
    }
  }

  .search-form__checkbox {
    margin: 0;
    width: 13%;
  }

  .search-form__checkbox--viseted-place:nth-child(2) {
    margin-left: 80px;
    margin-right: 69px;
  }

  .search-form__checkbox--viseted-place:nth-child(3) {
    margin-right: 29px;
    margin-left: 65px;
  }

  .search-form__checkbox--viseted-place:nth-child(4) {
    margin-right: 57px;
    margin-left: 106px;
  }

  .search-form__checkbox--viseted-place:nth-child(5) {
    margin-right: 0;
    margin-left: 54px;
  }

  .search-form__inner {
    font-size: 18px;
    padding-left: 77px;
    margin-left: 0;
  }

  .search-form__desc--block-fifth {
    width: 100%;
    box-sizing: border-box;
  }

  .search-form__title-fifth {
    font-size: 21px;
    margin-top: 82px;

    &::before {
      content: "";
      width: 275px;
      top: 96px;
    }

    &::after {
      content: "";
      width: 275px;
      top: 96px;
      left: 683px;
    }
  }

  .search-form__textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .search-form__btn {
    width: 480px;
    margin-bottom: 104px;
    padding: 0;
  }
}
