.social__list {
  list-style: none;
}

.social__item {
  background-color: @light-grey-blue;
  width: 46px;
  height: 48px;
  margin-bottom: 5px;
}

.social__link {
  img {
    padding-top: 17px;
    padding-left: 14px;
  }
}
