.wrapper-for-form__block {
  width: 276px;
  height: 140px;
  text-align: center;
}

.wrapper-for-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.wrapper-for-form__text {
  font-size: 14px;
  line-height: 21px;
}
