.wrapper-for-form__block {
  width: 276px;
  height: 140px;
  text-align: center;
  margin-left: 23px;
  margin-bottom: 47px;
}

.wrapper-for-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.wrapper-for-form__text {
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .wrapper-for-form__block {
    width: 439px;
    height: 103px;
    margin: auto;
    margin-top: 417px;
    margin-bottom: 84px;
  }

  .wrapper-for-form__title {
    font-size: 30px;
    line-height: 26px;
    text-align: center;
  }
  .wrapper-for-form__text {
    line-height: 24px;
  }
}
